bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

# dependencies
node_modules/

# build
.dist/
dist/
*.log

# env
.env
.env.*
!.env.example

# editor
.vscode/
.idea/
.DS_Store

# Database file
app.db